{
  "name": "{{PROJECT_SLUG}}/app",
  "description": "Generated PHP project skeleton",
  "require": {
    "php": "^8.2"
  },
  "autoload": {
    "psr-4": {
      "App\\\\": "src/"
    }
  },
  "scripts": {
    "test": "php -r \"echo 'Add your test runner here';\""
  }
}
