{
  "generator": "agentum",
  "projectName": "{{PROJECT_NAME}}",
  "variant": "{{VARIANT}}",
  "packageManager": "{{PACKAGE_MANAGER}}",
  "withCi": {{WITH_CI}},
  "withMirrorFiles": {{WITH_MIRRORS}}
}
